.header {
    width: 100%;
    height: 8rem;
    margin: 0 auto;
    background-color: #522A5C;
    position: relative;
}

.header #myMame {
    color:white;
    width: 11px;
    height: 2px;
    font-size: 170%;
    text-align: center;
    margin: 65px 0 0 100px;
    float: left;
}

.header nav ul{
    list-style-type:none;
    display:block;
    height:40px;
    width:350px;
    margin:0px;
    padding: 0 0 0 1px;
    float:left;
    <!-- ¶¨Î» -->
    vertical-align:bottom;
    position: absolute;
    bottom: 10px;
    right: 150px;
}

.header nav li{
    display:inline;
    weight:100px;
    height:40px;
    font-size:130%;

    float:left;
    line-height:40px;
    padding:0 30px 0 0;
}

.header nav li a:link{
    color:white;
    text-decoration:none;
    text-align:center;
    padding:2px;

}

.header nav li a:hover,.header nav li a:visited {
    font-size:110%;
    text-decoration:none;
}

.header .github{
    position: absolute;
    bottom:0px;
    right:20px;
    margin:0px;
}
.header .github img{
    height:60px;
    weight:50px;
    border: none;
}
