html {
    font-family:Times, TimesNR, 'New Century Schoolbook',Georgia, 'New York', serif;
    font-size: 120%;
    margin:0;
}

body {
    margin:0;
}

main{
    width:90%;
    margin:0 auto;
    background-color: #EEEEEE;
}
