main{
    width:90%;
    height:100%;
    background-color: #EEEEEE;
}

.main_aside{
    width:100%;
    height:65rem;
    padding-top: 8rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    position: relative;

}

/*左边*/
.main_aside .div_01{
    width:40%;
    margin:0px;
    margin-right: 0.3rem;
    background-color: #FFFFFF;
    float:left;
}

.main_aside .div_01 #me img{
    width:10rem;
    height:10rem;
    margin-left: -5rem;
    border: 0.5rem solid #EEEEEE;
    border-radius: 100rem;

    position: absolute;
    top:4rem;
    left:50%;

}
.main_aside .div_01 #name{
    font-size: 1.8rem;
    width:5rem;
    padding:0;
    margin:0;

    position: absolute;
    top:18rem;
    left:50%;
    margin-left:-11rem;
}


.main_aside .div_01 #phone img{
    width:6rem;
    height:6rem;
    margin-left: -3rem;
    border: 0.3rem solid #EEEEEE;
    border-radius: 100rem;

    position: absolute;
    top:23rem;
    left:50%;

}
.main_aside .div_01 #tell{
    font-size: 1.8rem;
    width:10rem;
    padding:0;
    margin:0;

    position: absolute;
    top:32rem;
    left:50%;
    margin-left:-12rem;
}

.main_aside .div_01 #building_01 img{
    width:6rem;
    height:6rem;
    margin-left: -3rem;
    border: 0.3rem solid #EEEEEE;
    border-radius: 100rem;

    position: absolute;
    top:38rem;
    left:50%;

}
.main_aside .div_01 #education{
    font-size: 1.8rem;
    width:10rem;
    padding:0;
    margin:0;

    position: absolute;
    top:48rem;
    left:50%;
    margin-left:-12rem;
}

.main_aside .div_01 #building_02 img{
    width:6rem;
    height:6rem;
    margin-left: -3rem;
    border: 0.3rem solid #EEEEEE;
    border-radius: 100rem;

    position: absolute;
    top:53rem;
    left:50%;

}
.main_aside .div_01 #internship{
    font-size: 1.8rem;
    width:10rem;
    padding:0;
    margin:0;

    position: absolute;
    top:64rem;
    left:50%;
    margin-left:-12rem;
}

/*右边*/

.main_aside .div_02{
    width:40%;
    margin:0px;
    background-color: #FFFFFF;
    float:left;
}

.main_aside .div_02 #introduce{
    font-size: 1.1rem;
    width:40%;
    padding:0;
    margin:0;

    position: absolute;
    top:15rem;
    left:55%;
}

.main_aside .div_02 #tell_right{
    font-size: 1.1rem;
    width:15%;
    padding:0;
    margin:0;

    position: absolute;
    top:31rem;
    left:55%;
}
.main_aside .div_02 #tell_right ul{
    padding:0px;
    margin:0px;
    list-style-type: none;
}

.main_aside .div_02 #education_right_01{
    font-size: 1.1rem;
    width:10rem;
    padding:0;
    margin:0;

    position: absolute;
    top:45rem;
    right:50%;
    margin-right:-15rem;
}
.main_aside .div_02 #education_right_02{
    font-size: 1.1rem;
    width:10rem;
    padding:0;
    margin:0;

    position: absolute;
    top:47rem;
    right:50%;
    margin-right:-15rem;
}
.main_aside .div_02 #education_right_02 span{
    font-size: 0.8rem;
}

.main_aside .div_02 #education_right_03{
    font-size: 1.1rem;
    width:10rem;
    padding:0;
    margin:0;

    position: absolute;
    top:50rem;
    right:50%;
    margin-right:-15rem;
}
.main_aside .div_02 #education_right_03 span{
    font-size: 0.8rem;
}

.main_aside .div_02 #internship_right_01{
    font-size: 1.1rem;
    width:10rem;
    padding:0;
    margin:0;

    position: absolute;
    top:62rem;
    right:50%;
    margin-right:-15rem;
}
.main_aside .div_02 #internship_right_01 span{
    font-size: 0.8rem;
}

.main_aside .div_02 #internship_right_02{
    font-size: 1.1rem;
    width:10rem;
    padding:0;
    margin:0;

    position: absolute;
    top:66rem;
    right:50%;
    margin-right:-15rem;
}
.main_aside .div_02 #internship_right_02 span{
    font-size: 0.8rem;
}

.main_aside .div_02 .year .boder{
    width: 4rem;
    height: 1.5rem;
    border:0.3rem solid #EEEEEE;
    border-radius: 100rem;
    text-align: center;
    font-size: 1.2rem;

    position: absolute;
    left: 50%;
    margin-left: -2rem;
    background-color: #fff;
}
.main_aside .div_02 .year #x08{
    top:44.8rem;
}
.main_aside .div_02 .year #x11{
    top:47.5rem;
}
.main_aside .div_02 .year #education_15{
    top:50.5rem;
}
.main_aside .div_02 .year #x14{
    top:62rem;
}
.main_aside .div_02 .year #x15{
    top:66rem;
}



/*响应式开始*/
@media screen and (max-width:1000px) {
    /*header*/
    .header {
        width: 100%;
        height: 80px;
    }

    .header #myMame {
        color: white;
        width: 110px;
        height: 20px;
        position: absolute;
        left: 30%;
        bottom: 50%;
        font-size: 200%;
        margin: 0rem auto;
    }

    .header nav {
        width: 100%;
    }

    .header .header_ham {
        float: right;
        display: block;
        cursor: pointer;
        position: absolute;
        right: 3%;
        bottom: 70%;
    }

    .header .header_ham span {
        width: 2.5rem;
        height: 5px;
        float: right;
        margin-top: 0.2rem;
    }

    .header nav ul {
        display: none;
    }

    .header .github {
        display: none;
    }

    .showHam {
        animation: show 1s;
        -moz-animation: show 1s; /* Firefox */
        -webkit-animation: show 1s; /* Safari and Chrome */
        -o-animation: show 1s; /* Opera */
    }

    @keyframes show {
        from {
            height: 0;
            weight: 0
        }
        to {
            height: 10rem;
            weight: 100%
        }
    }
    @-moz-keyframes show {
        from {
            height: 0;
            weight: 0
        }
        to {
            height: 10rem;
            weight: 100%
        }
    }
    @-webkit-keyframes show {
        from {
            height: 0;
            weight: 0
        }
        to {
            height: 10rem;
            weight: 100%
        }
    }
    @-o-keyframes show {
        from {
            height: 0;
            weight: 0
        }
        to {
            height: 10rem;
            weight: 100%
        }
    }
    .hideHam {
        animation: hide 1s;
        -webkit-animation: hide 1.5s;
        -moz-animation: hide 1.5s;
        -o-animation: hide 1.5s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
    }

    @keyframes hide {
        from {
            height: 10rem;
            weight: 100%
        }
        to {
            height: 0;
            weight: 0
        }
    }
    @-moz-keyframes hide {
        from {
            height: 10rem;
            weight: 100%
        }
        to {
            height: 0;
            weight: 0
        }
    }
    @-webkit-keyframes hide {
        from {
            height: 10rem;
            weight: 100%
        }
        to {
            height: 0;
            weight: 0
        }
    }
    @-o-keyframes hide {
        from {
            height: 10rem;
            weight: 100%
        }
        to {
            height: 0;
            weight: 0
        }
    }

    /*middle*/
    main{
        width:100%;
    }




    /*footer*/
    .footer section{
        height:100%;
        display: block;
        margin:3rem 0 0 0;
        margin-top: 3rem;
    }
    .footer {
        width: 100%;
        height: 30rem;
        margin:0 0;
        position: relative;
    }

    .footer .footer_top ul{
        left: 35%;
    }


    .footer .footer_middle .footer_link{
        height:10%;
        display: flex;
        justify-content:flex-start;
        flex-wrap: nowrap;
    }
    .footer .footer_middle .footer_link .link_header{
        float:left;
        width:10%;
        height:1rem;
        margin: 1rem 0rem 0rem 1rem;
    }
    .footer .footer_middle .footer_link ul{

        width: 70%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        float: left;
        margin:1rem 0 0rem 0rem;
    }
}