body {
  height: 55rem;
  margin: 0;
  padding: 0;
}

.shell {
  width: 25%;
  height: 80%;
  background-color: #eee;
  margin: 1% 0 0 37.5%;
  display: flex;
  justify-content: space-around;
}

.shell .shell_left {
  width: 100.5%;
  height: 96%;
  background-color: #fff;
  margin: 3% 0 0 3%;
}

.shell .shell_right {
  width: 100.5%;
  height: 96%;
  background-color: #fff;
  margin: 3% 3% 0;
}

.shell .shell_left div,
.shell .shell_right div {
  width: 93%;
  height: 10%;
  background-color: lightseagreen;
  border: 1px solid black;
  margin: 0.5% 0 0 3%;
}
